.app-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  
}

.sidebar {
  width: 200px;
  background-color: #1e293b; /* Slate-800 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.nav-link:hover {
  background-color: #334155; /* Slate-700 */
}

.main-content {
  flex: 1;
  padding: 30px;
  background-color: #f1f5f9; /* Slate-100 */
}
